@font-face {
  font-family: 'proxima-soft-normal';
  src: url('../fonts/ProximaNovaSoft-Regular-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Regular-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Regular-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Regular-webfont.ttf')  format('truetype');
 }

@font-face {
  font-family: 'proxima-soft-medium';
  src: url('../fonts/ProximaNovaSoft-Medium-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Medium-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Medium-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Medium-webfont.ttf')  format('truetype');
 }

 @font-face {
  font-family: 'proxima-soft-bold';
  src: url('../fonts/ProximaNovaSoft-Bold-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Bold-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Bold-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Bold-webfont.ttf')  format('truetype');
 }


@font-face {
  font-family: 'chalet';
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.eot');
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.eot') format('embedded-opentype'), 
       url('../fonts/chaletnewyorknineteenseventy-webfont.woff') format('woff'),
       url('../fonts/chaletnewyorknineteenseventy-webfont.ttf')  format('truetype');
 }

* {
	transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -webkit-user-select: none;  
  -moz-user-select: none;   
  -ms-user-select: none;     
  user-select: none;  
	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .header {
 	font-family: 'chalet';
 	font-size:2em;
 }

.tinder-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


 .intro-screen-title {
 	font-family: "proxima-soft-normal", sans-serif;
 	font-size:1.5em;
 	text-align: center;
 	color:#4d4d4d;
 }

 .intro-screen-img {
     width: 100%;
    height: auto;
    padding: 36px 82px;
 }

 .intro-bullets {
 	text-align: center;
 	display: inline-block;
 	margin-left: auto;
 	margin-right: auto;
 	    width: 100%;
 	color:#cdcdcd;
 	font-size:1.5em;
 }

 .intro-bullets>.selected {
 	color:#4d4d4d;
 	display: inline;
 }

 #intro-right {
 	position: relative;
    float: right;
    top: 270px;
	font-size: 2em;
    height: 30px;
    width: 30px;
    color:#cdcdcd;
    z-index:5;
 }

 #intro-right:hover{
 	color:#4d4d4d;
 	cursor: pointer;
 }

.fast {
	-webkit-animation-delay: 0.25s !important; /* Chrome, Safari, Opera */
    animation-delay: 0.25s !important;
}

#intro-left:hover {
	color:#4d4d4d;
	cursor: pointer;
}


.facebook-btn, .facebook-btn:active, .facebook-btn:focus, .facebook-btn:active:focus {
	font-family: 'proxima-soft-medium', sans-serif;
	background-color: #3b5998;
	border:0px;
	outline:none;
	color:white !important;
	padding:10px 30px;
	margin-top:10px;
}
.facebook-btn:hover {
	background-color: #5B78B5;
}
.intro-terms {
	color:#a4a4a4;
	font-size:0.75em;
	font-family: 'proxima-soft-normal', sans-serif;
	text-align: center;
}
.tinder-swipe-container {
	width: 350px;
  margin-left: auto;
  margin-right: auto;
  height:530px;
  margin-top: 50px;
  border-radius:10px;
  border:1px solid #f2f2f2;
}
.card {

}
.middle-swipe {
	padding:20px;
}
.swipe-title {
  font-family: 'chalet', sans-serif;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  color: #ff6748;
  position: relative;
  left: 80px;
  letter-spacing: -1.5px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
#tinder-settings {
  font-size: 1.75em;
  position: relative;
  color: #cecece;
  height: 45px;
}
#tinder-settings:hover, #tinder-chat:hover {
	color:#4d4d4d;
	cursor: pointer;
}
#tinder-chat {
  font-size: 1.75em;
  position: relative;
  color: #cecece;
  float: right;
  height: 45px;

}
.top-bar {
	border-bottom:1px solid #f2f2f2;
	padding: 5px 10px;
}
 #intro-left {
 	position: relative;
    float: left;
    z-index:5;
    color:#cdcdcd;
    font-size: 2em;
    top: 270px;
    height: 30px;
    width: 30px;
 }


 .card-stack {
  list-style: none;
 }


.location-cur-img {
    display: inline-block;
    height: 35px;
    vertical-align: text-bottom;
}

.location-bg {
   display: none;
    height: 530px;
    width: 350px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    font-family: "proxima-soft-normal", sans-serif;

    z-index: 9999;
    margin-left: -20px;
    margin-top: -91px;
    border-radius: 10px;
}

.show-location {
  display: block;
}
.location-text {
  display: inline-block;
    padding: 0px;
    font-size:1.25em;
        line-height: 17px;
}

.location-text>p {
    display: block;
    margin: 0px;
    color: #adadad;
    font-size: .8em !important
}

.location-cur {
    border-top: 1px solid #f0f0f0;
    margin-left: -10px;
    margin-top: 3px;
    margin-right: -10px;
    padding: 5px;

}

.location-arrow {
    height: 20px;
    width: 20px;
    background-color: #298CFA;
    position: absolute;
    bottom: -7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 29px;
    border-radius: 5px;
}
.location-bottom {
  background-color: #298CFA;
  color: white;
  text-align: center;
  font-size: 1.25em;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -10px;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  margin-top: 4px;
}

.location-bottom>img {
    height: 35px
}

.location-check {
  height: 40px;
  float: right;
  padding-bottom: 5px;
  vertical-align: bottom;
}

.location-blue {
    margin: -4px;
    height: 60px;
    vertical-align: top;
    background-color: white;
    border-radius: 50px;
    border: 10px #747474 solid;
    position: absolute;
    bottom: 48px;
    right: 37px;
    z-index: -1;
    transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.location-popup {

  transform-origin:right bottom;
  height: auto;
  color:#4d4d4d;
  width: 300px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size:1em;
  margin: 25px;
  position: absolute;
  bottom: 80px;
  z-index:1;
}
.card {
  z-index:999;
  position: absolute;
  border:1px solid #e8edf1;
  height: 318px;
  background-color: white;
  color: white;
  display: block;
  text-align: center;
  width: 318px;
  margin-left: -45px;
  border-radius: 5px;
}

.bottom-card1 {
    height: 331px;
    width: 286px;
    margin-left: -29px;
}

.bottom-card2 {
    height: 325px;
    width: 306px;
    margin-left: -39px;
}

 .card-img {
      background-size: cover;
    width: 316px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 265px;
 }

 .card-name {
      font-size: 1.5em;
    color: #6f6f6f;
    font-family: 'proxima-soft-normal', sans-serif;
    text-align: left;
    padding: 10px 25px;
 }

 .overlay {
  width:100%;
  display: none;
  height:100%;
     position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: hidden;
    z-index:100; 
  background-color:rgba(0,0,0,0.5);
 }

.overlay-block {
padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.62);
margin-top:60px;
width:400px;
font-family: 'proxima-soft-normal', sans-serif;
background-color: white;
height:auto;
display: block;
margin-left:auto;
margin-right:auto;
}

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color:#FC7059;
  padding:5px;
  border-radius: 3px;
  word-break: break-all;
  background-color: #f9f2f4;;
}

.code:hover {
  background-color: rgba(249, 242, 244, 0.67);
}

.fb-input {
    width: 100%;
    background-color: white;
    border-radius: 90px;
    border: 1px solid #FC7059;
    margin-top:15px;
    padding: 5px 20px;
}

.fb-input:active , .fb-input:focus {
  outline:none;
}

.login-error {
  margin-top:15px;
  font-family: "proxima-soft-bold", sans-serif;
  background-color:#FC7059;
  color:white;
  border-radius: 5px;
  padding:10px;
  text-align: center;
}

.card-info {
    position: absolute;
    bottom: 10px;
    color: #cccccc;
    display: inline-block;
    right: 19px;
    font-family: "proxima-soft-medium", sans-serif;
    font-size: 1.5em;
}
.text-active {
  color:#ff6748;
}
a, a:hover, a:active, a:focus, a:visited, a:focus:active {
  color:inherit;
  text-decoration: none;
}

@-webkit-keyframes bounceInf {
    from {box-shadow: 0px 0px 0px 0px #fdd5cf;}
    to {box-shadow: 0px 0px 0px 30px #fdd5d0;}
}

@keyframes bounceInf {
    from {box-shadow: 0px 0px 0px 0px #fdd5cf;}
    to {box-shadow: 0px 0px 0px 30px #fdd5d0;}
}

.profile-circle {
    height: 100px;

    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
     
    border-radius: 100px;
    background-size: contain;
}

.circle-animate {
  -webkit-animation: bounceInf 1.25s infinite ease-out; /* Chrome, Safari, Opera */
    animation: bounceInf 1.25s infinite ease-out;
}

.no-text {
  display: none;
}
.nope {
  opacity:0;
  color:#fe836d;
  font-family: 'proxima-soft-bold', sans-serif;
  text-transform: uppercase;
  padding:5px;
  font-size: 1.5em;
  position: absolute;
  border: 3px solid #FE836D;
  padding: 0px 5px;
  letter-spacing: 3px;
  font-size: 2em;
  right: 20px;
  top: 20px;
  -ms-transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  display: block;
  transform: rotate(9deg);
  border-radius: 5px;
}

.like {
  opacity:0;
  color:#63de9a;
   display: block;
  font-family: 'proxima-soft-bold', sans-serif;
  text-transform: uppercase;
  padding:5px;
  font-size: 1.5em;
  position: absolute;
  border: 3px solid #63de9a;
  padding: 0px 5px;
  letter-spacing: 3px;
  font-size: 2em;
  left: 20px;
  top: 20px;
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
  border-radius: 5px;
}

.swipe-container {
    position: relative;
    bottom: -340px;
    margin-left: auto;
    margin-right: auto;
    width: 281px;
}
.swipe-left-img {
  margin:-4px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}


.swipe-left-img:active {
  height: 90px;
  background-color: white;
  border-radius: 50px;
  border: 20px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.swipe-right-img {
  margin:-4px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.swipe-right-img:active {
  height: 90px;
  background-color: white;
  border-radius: 50px;
  border: 20px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.swipe-back-img {
  margin:-4px;
  height: 60px;
  vertical-align: top;
  background-color: white;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}
.swipe-back-img:active {
  height: 60px;
  background-color: white;
  border-radius: 50px;
  border: 15px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
.swipe-location-img {
  margin:-4px;
  height: 60px;
  vertical-align: top;
  background-color: white;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.swipe-location-img:active {
  height: 60px;
  background-color: white;
  border-radius: 50px;
  border: 15px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.show-fb {
  display: block;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 736px) {
  .tinder-container {
    width: auto;
    margin: 60px 120px;
  }
  .intro-screen-title {
    font-size:3em;
  }
  .intro-bullets {
    font-size:6em;
  }
  .intro-terms {
    font-size:2em;
  }
  .facebook-btn {
    margin: 30px 0px;
    width: 100%;
    font-size: 3em;
    border-radius: 10px;
  }
  #intro-right {
    top: 700px;
    font-size:10em;
  }
  #intro-left {
    left: -85px;
    top: 700px;
    font-size:10em;
  }
}

.swipe-left {
  transform: translate(-300px, 0px) rotate(-10deg);
}

.swipe-right {
  transform: translate(300px, 0px) rotate(10deg);
}

.match-img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}

.match-bg {
  display: none;
  height: 530px;
  width: 350px;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  font-family: "proxima-soft-normal", sans-serif;

  z-index: 9999;
  margin-left: -20px;
  margin-top: -91px;
  border-radius: 10px;
}
.match-text {
  color:white;
  letter-spacing: 0px;
  font-size:1.2em;
  font-family: "proxima-soft-normal", sans-serif;
  text-align: center; 
}

.match-user {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: contain;
  background-color: white;
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
}

.match-match {
  height: 100px;
  margin: 5px;
  width: 100px;
  background-size: contain;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  display: inline-block;
}

.match-row {
  width:224px;
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;
}

.match-send {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin-top: 40px;
}

.match-play {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin-top: 20px;
}

.match-share {
  color: white;
  padding: 10px;
  border: 0px solid white;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin-top: 20px;  
}

.show-match {
  display:block;
}