@font-face {
  font-family: 'proxima-soft-normal';
  src: url('../fonts/ProximaNovaSoft-Regular-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Regular-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Regular-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Regular-webfont.ttf')  format('truetype');
 }

@font-face {
  font-family: 'proxima-soft-medium';
  src: url('../fonts/ProximaNovaSoft-Medium-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Medium-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Medium-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Medium-webfont.ttf')  format('truetype');
 }

 @font-face {
  font-family: 'proxima-soft-bold';
  src: url('../fonts/ProximaNovaSoft-Bold-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Bold-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Bold-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Bold-webfont.ttf')  format('truetype');
 }


@font-face {
  font-family: 'chalet';
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.eot');
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.eot') format('embedded-opentype'), 
       url('../fonts/chaletnewyorknineteenseventy-webfont.woff') format('woff'),
       url('../fonts/chaletnewyorknineteenseventy-webfont.ttf')  format('truetype');
 }

* {
	transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .header {
 	font-family: 'chalet';
 	font-size:2em;
 }

.tinder-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


 .intro-screen-title {
 	font-family: "proxima-soft-normal", sans-serif;
 	font-size:1.5em;
 	text-align: center;
 	color:#4d4d4d;
 }

 .intro-screen-img {
     width: 100%;
    height: auto;
    padding: 36px 82px;
 }

 .intro-bullets {
 	text-align: center;
 	display: inline-block;
 	margin-left: auto;
 	margin-right: auto;
 	    width: 100%;
 	color:#cdcdcd;
 	font-size:1.5em;
 }

 .intro-bullets>.selected {
 	color:#4d4d4d;
 	display: inline;
 }

 #intro-right {
 	position: relative;
    float: right;
    top: 270px;
	font-size: 2em;
    height: 30px;
    width: 30px;
    color:#cdcdcd;
    z-index:5;
 }

 #intro-right:hover{
 	color:#4d4d4d;
 	cursor: pointer;
 }

.fast {
	-webkit-animation-delay: 0.25s !important; /* Chrome, Safari, Opera */
    animation-delay: 0.25s !important;
}

#intro-left:hover {
	color:#4d4d4d;
	cursor: pointer;
}


.facebook-btn, .facebook-btn:active, .facebook-btn:focus, .facebook-btn:active:focus {
	font-family: 'proxima-soft-medium', sans-serif;
	background-color: #3b5998;
	border:0px;
	outline:none;
	color:white !important;
	padding:10px 30px;
	margin-top:10px;
}
.facebook-btn:hover {
	background-color: #5B78B5;
}
.intro-terms {
	color:#a4a4a4;
	font-size:0.75em;
	font-family: 'proxima-soft-normal', sans-serif;
	text-align: center;
}
.tinder-swipe-container {
	width: 350px;
  margin-left: auto;
  margin-right: auto;
  height:530px;
  margin-top: 50px;
  border-radius:10px;
  border:1px solid #f2f2f2;
}
.card {

}
.middle-swipe {
	padding:20px;
}
.swipe-title {
    font-family: 'chalet', sans-serif;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    color: #ff6748;
    position: relative;
    left: 95px;
        letter-spacing: -1.5px;
    bottom:-1px;
}
#tinder-settings {
	font-size:1.75em;
    position: relative;
    top: 2px;
    left: 8px;
	color:#cecece;
}
#tinder-settings:hover, #tinder-chat:hover {
	color:#4d4d4d;
	cursor: pointer;
}
#tinder-chat {
	font-size:1.75em;
    position: relative;
    top: 8px;
    right: 5px;
	color:#cecece;
	float: right;
}
.top-bar {
	border-bottom:1px solid #f2f2f2;
	padding: 10px;
}
 #intro-left {
 	position: relative;
    float: left;
    z-index:5;
    color:#cdcdcd;
    font-size: 2em;
    top: 270px;
    height: 30px;
    width: 30px;
 }


 .card-stack {
  list-style: none;
 }




 .card {
    position: absolute;
    border:1px solid #e8edf1;
    height: 318px;
    background-color: white;
    color: white;
    display: block;
    text-align: center;
    width: 318px;
    margin-left: -45px;
    border-radius: 5px;
 }

.bottom-card1 {
    height: 331px;
    width: 286px;
    margin-left: -29px;
}

.bottom-card2 {
    height: 325px;
    width: 306px;
    margin-left: -39px;
}

 .card-img {
      background-size: cover;
    width: 316px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 265px;
 }

 .card-name {
      font-size: 1.5em;
    color: #6f6f6f;
    font-family: 'proxima-soft-normal', sans-serif;
    text-align: left;
    padding: 10px 25px;
 }

 .overlay {
  width:100%;
  display: none;
  height:100%;
     position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: hidden;
    z-index:100; 
  background-color:rgba(0,0,0,0.5);
 }

.overlay-block {
padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.62);
margin-top:60px;
width:400px;
font-family: 'proxima-soft-normal', sans-serif;
background-color: white;
height:auto;
display: block;
margin-left:auto;
margin-right:auto;
}

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color:#FC7059;
  padding:5px;
  border-radius: 3px;
  word-break: break-all;
  background-color: #f9f2f4;;
}

.code:hover {
  background-color: rgba(249, 242, 244, 0.67);
}

.fb-input {
    width: 100%;
    background-color: white;
    border-radius: 90px;
    border: 1px solid #FC7059;
    margin-top:15px;
    padding: 5px 20px;
}

.fb-input:active , .fb-input:focus {
  outline:none;
}

.login-error {
  margin-top:15px;
  font-family: "proxima-soft-bold", sans-serif;
  background-color:#FC7059;
  color:white;
  border-radius: 5px;
  padding:10px;
  text-align: center;
}

.card-info {
    position: absolute;
    bottom: 10px;
    color: #cccccc;
    display: inline-block;
    right: 19px;
    font-family: "proxima-soft-medium", sans-serif;
    font-size: 1.5em;
}
.text-active {
  color:#ff6748;
}
a, a:hover, a:active, a:focus, a:visited, a:focus:active {
  color:inherit;
  text-decoration: none;
}

@-webkit-keyframes bounceInf {
    from {box-shadow: 0px 0px 0px 0px #fdd5cf;}
    to {box-shadow: 0px 0px 0px 30px #fdd5d0;}
}

@keyframes bounceInf {
    from {box-shadow: 0px 0px 0px 0px #fdd5cf;}
    to {box-shadow: 0px 0px 0px 30px #fdd5d0;}
}

.profile-circle {
    height: 100px;

    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
     
    border-radius: 100px;
    background-size: contain;
}

.circle-animate {
  -webkit-animation: bounceInf 1.25s infinite ease-out; /* Chrome, Safari, Opera */
    animation: bounceInf 1.25s infinite ease-out;
}

.no-text {
  display: none;
}
.nope {
  opacity:0;
  color:#fe836d;
  font-family: 'proxima-soft-bold', sans-serif;
  text-transform: uppercase;
  padding:5px;
  font-size: 1.5em;
  position: absolute;
  border: 3px solid #FE836D;
  padding: 0px 5px;
  letter-spacing: 3px;
  font-size: 2em;
  right: 20px;
  top: 20px;
  -ms-transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  display: block;
  transform: rotate(9deg);
  border-radius: 5px;
}

.like {
  opacity:0;
  color:#63de9a;
   display: block;
  font-family: 'proxima-soft-bold', sans-serif;
  text-transform: uppercase;
  padding:5px;
  font-size: 1.5em;
  position: absolute;
  border: 3px solid #63de9a;
  padding: 0px 5px;
  letter-spacing: 3px;
  font-size: 2em;
  left: 20px;
  top: 20px;
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
  border-radius: 5px;
}

.swipe-container {
    position: relative;
    bottom: -340px;
    margin-left: auto;
    margin-right: auto;
    width: 268px;
}
.swipe-left-img {
  margin:-6px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.swipe-left-img:active {
    height: 70px;
    background-color: white;
    border-radius: 70px;
    border: 20px #e8e8e8 solid;

}

.swipe-right-img {
  margin:-6px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.swipe-back-img {
  margin:-6px;
  height: 60px;
  vertical-align: top;
  background-color: white;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}
.swipe-location-img {
  margin:-6px;
  height: 60px;
  vertical-align: top;
  background-color: white;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.show-fb {
  display: block;
}

.swipe-left {
  transform: translate(-300px, 0px) rotate(-10deg);
}

.swipe-right {
  transform: translate(300px, 0px) rotate(10deg);
}