@font-face {
  font-family: 'proxima-soft-normal';
  src: url('../fonts/ProximaNovaSoft-Regular-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Regular-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Regular-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Regular-webfont.ttf')  format('truetype');
 }

@font-face {
  font-family: 'proxima-soft-medium';
  src: url('../fonts/ProximaNovaSoft-Medium-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Medium-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Medium-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Medium-webfont.ttf')  format('truetype');
 }

 @font-face {
  font-family: 'proxima-soft-bold';
  src: url('../fonts/ProximaNovaSoft-Bold-webfont.eot');
  src: url('../fonts/ProximaNovaSoft-Bold-webfont.eot') format('embedded-opentype'), 
       url('../fonts/ProximaNovaSoft-Bold-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaSoft-Bold-webfont.ttf')  format('truetype');
 }


@font-face {
  font-family: 'chalet';
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.eot');
  src: url('../fonts/chaletnewyorknineteenseventy-webfont.eot') format('embedded-opentype'), 
       url('../fonts/chaletnewyorknineteenseventy-webfont.woff') format('woff'),
       url('../fonts/chaletnewyorknineteenseventy-webfont.ttf')  format('truetype');
 }

* {
	transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -webkit-user-select: none;  
  -moz-user-select: none;   
  -ms-user-select: none;     
  user-select: none;  
	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .header {
 	font-family: 'chalet';
 	font-size:2em;
 }

.tinder-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


 .intro-screen-title {
 	font-family: "proxima-soft-normal", sans-serif;
 	font-size:1.5em;
 	text-align: center;
 	color:#4d4d4d;
 }

 .intro-screen-img {
     width: 100%;
    height: auto;
    padding: 36px 82px;
 }

 .intro-bullets {
 	text-align: center;
 	display: inline-block;
 	margin-left: auto;
 	margin-right: auto;
 	    width: 100%;
 	color:#cdcdcd;
 	font-size:1.5em;
 }

 .intro-bullets>.selected {
 	color:#4d4d4d;
 	display: inline;
 }

 #intro-right {
 	position: relative;
    float: right;
    top: 270px;
	font-size: 2em;
    height: 30px;
    width: 30px;
    color:#cdcdcd;
    z-index:5;
 }

 #intro-right:hover{
 	color:#4d4d4d;
 	cursor: pointer;
 }

.hideStuff {
  display: none;
}

.showStuff {
  display: block !important;
}
.fast {
	-webkit-animation-delay: 0.25s !important; /* Chrome, Safari, Opera */
    animation-delay: 0.25s !important;
}

#intro-left:hover {
	color:#4d4d4d;
	cursor: pointer;
}


.facebook-btn, .facebook-btn:active, .facebook-btn:focus, .facebook-btn:active:focus {
	font-family: 'proxima-soft-medium', sans-serif;
	background-color: #3b5998;
	border:0px;
	outline:none;
	color:white !important;
	padding:10px 30px;
	margin-top:10px;
}
.facebook-btn:hover {
	background-color: #5B78B5;
}
.intro-terms {
	color:#a4a4a4;
	font-size:0.75em;
	font-family: 'proxima-soft-normal', sans-serif;
	text-align: center;
}
.tinder-swipe-container {
	width: 350px;
  margin-left: auto;
  margin-right: auto;
  height:530px;
  margin-top: 50px;
  border-radius:10px;
  overflow: hidden;
  border:1px solid #f2f2f2;
}
.card {

}
.middle-swipe {
	padding:20px;
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
}
.swipe-title {
  font-family: 'chalet', sans-serif;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  color: #ff6748;
  position: relative;
  left: 28%;
  letter-spacing: -1.5px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
#tinder-settings {
    font-size: 1.75em;
    position: relative;
    color: #cecece;
    height: 35px;
    margin-top: 6px;
    margin-bottom: 4px;
}
#tinder-settings:hover, #tinder-chat:hover {
	color:#4d4d4d;
	cursor: pointer;
}
#tinder-chat {
  font-size: 1.75em;
  position: relative;
  color: #cecece;
  float: right;
  height: 36px;
  margin-top: 6px;

}
.top-bar {
	border-bottom:1px solid #f2f2f2;
	padding: 5px 10px;
  height: 56px;
}
 #intro-left {
 	position: relative;
    float: left;
    z-index:5;
    color:#cdcdcd;
    font-size: 2em;
    top: 270px;
    height: 30px;
    width: 30px;
 }


 .card-stack {
  list-style: none;
 }


.location-cur-img {
    display: inline-block;
    height: 35px;
    vertical-align: text-bottom;
}

.location-bg {
   display: none;
    height: 530px;
    width: 350px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    font-family: "proxima-soft-normal", sans-serif;

    z-index: 9999;
    margin-left: -20px;
    margin-top: -91px;
    border-radius: 10px;
}

.show-location {
  display: block;
}
.location-text {
  display: inline-block;
    padding: 0px;
    font-size:1.25em;
        line-height: 17px;
}

.location-text>p {
    display: block;
    margin: 0px;
    color: #adadad;
    font-size: .8em !important
}

.location-cur {
    border-top: 1px solid #f0f0f0;
    margin-left: -10px;
    margin-top: 3px;
    margin-right: -10px;
    padding: 5px;

}

.location-arrow {
    height: 20px;
    width: 20px;
    background-color: #298CFA;
    position: absolute;
    bottom: -7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 29px;
    border-radius: 5px;
}
.location-bottom {
  background-color: #298CFA;
  color: white;
  text-align: center;
  font-size: 1.25em;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -10px;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  margin-top: 4px;
}

.location-bottom>img {
    height: 35px
}

.settings-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #efeff4;
    padding: 20px 0px;
}

.settings-list>li {
  background: white;
  font-family: 'proxima-soft-normal', sans-serif;
  padding: 0px;
  font-size: 1.25em;
}

.settings-list>li>p {
  margin: 0px;
  margin-left: 15px;
  padding: 10px 15px;
}

.settings-list>li:not(:first-child):not(:last-child)>p {
  margin: 0px;
  margin-left: 15px;
  border-bottom: 1px solid #EFEFF4;
  padding: 10px 15px;
}


.switch[type="checkbox"] {
  appearance: none;

  background-color: #fafafa;
  border: 1px solid #d3d3d3;
  border-radius: 26px;
  box-shadow: inset 0 0 0 1px #d3d3d3;
  cursor: pointer;
  height: 28px;
  position: relative;
  transition: border .25s .15s, box-shadow .25s .3s, padding .25s;
  width: 44px;
  vertical-align: top;
    height: 25px;
    width: 40px;
        margin-top: 0px;
    float: right;

}
.switch[type="checkbox"]:after {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 24px;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  content: '';
  display: block;
  height: 24px;
  left: 0;
  position: absolute;
  right: 16px;
  top: 0;
  transition: border .25s .15s, left .25s .1s, right .15s .175s;
}
.switch[type="checkbox"]:checked {
  border-color: #53d76a;
  box-shadow: inset 0 0 0 13px #53d76a;
  padding-left: 18px;
  transition: border .25s, box-shadow .25s, padding .25s .15s;
}
.switch[type="checkbox"]:checked:after {
  border-color: #53d76a;
  left: 16px;
  right: 0;
  transition: border .25s, left .15s .25s, right .25s .175s;
}


.location-check {
  height: 40px;
  float: right;
  padding-bottom: 5px;
  vertical-align: bottom;
}

.location-blue {
    margin: -4px;
    height: 60px;
    vertical-align: top;
    background-color: white;
    border-radius: 50px;
    border: 10px #747474 solid;
    position: absolute;
    bottom: 48px;
    right: 37px;
    z-index: -1;
    transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.location-popup {

  transform-origin:right bottom;
  height: auto;
  color:#4d4d4d;
  width: 300px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size:1em;
  margin: 25px;
  position: absolute;
  bottom: 80px;
  z-index:1;
}
.card {
  z-index:999;
  position: absolute;
  border:1px solid #e8edf1;
  height: 318px;
  background-color: white;
  color: white;
  display: block;
  text-align: center;
  width: 318px;
  margin-left: -45px;
  border-radius: 5px;
}

.bottom-card1 {
    height: 331px;
    width: 286px;
    margin-left: -29px;
}

.bottom-card2 {
    height: 325px;
    width: 306px;
    margin-left: -39px;
}

 .card-img {
      background-size: cover;
    width: 316px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 265px;
 }

 .card-name {
      font-size: 1.5em;
    color: #6f6f6f;
    font-family: 'proxima-soft-normal', sans-serif;
    text-align: left;
    padding: 10px 25px;
 }

 .overlay {
  width:100%;
  display: none;
  height:100%;
     position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: hidden;
    z-index:100; 
  background-color:rgba(0,0,0,0.5);
 }

.overlay-block {
padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.62);
margin-top:60px;
width:400px;
font-family: 'proxima-soft-normal', sans-serif;
background-color: white;
height:auto;
margin-left:auto;
margin-right:auto;
}

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color:#FC7059;
  padding:5px;
  border-radius: 3px;
  word-break: break-all;
  background-color: #f9f2f4;;
}

.code:hover {
  background-color: rgba(249, 242, 244, 0.67);
}

.fb-input {
    width: 100%;
    background-color: white;
    border-radius: 90px;
    border: 1px solid #FC7059;
    margin-top:15px;
    padding: 5px 20px;
}

.fb-input:active , .fb-input:focus {
  outline:none;
}

.login-error {
  margin-top:15px;
  font-family: "proxima-soft-bold", sans-serif;
  background-color:#FC7059;
  color:white;
  border-radius: 5px;
  padding:10px;
  text-align: center;
}

.card-info {
    position: absolute;
    bottom: 10px;
    color: #cccccc;
    display: inline-block;
    right: 19px;
    font-family: "proxima-soft-medium", sans-serif;
    font-size: 1.5em;
}
.text-active {
  color:#ff6748;
}
a, a:hover, a:active, a:focus, a:visited, a:focus:active {
  color:inherit;
  text-decoration: none;
}

@-webkit-keyframes bounceInf {
    from {box-shadow: 0px 0px 0px 0px #fdd5cf;}
    to {box-shadow: 0px 0px 0px 30px #fdd5d0;}
}

@keyframes bounceInf {
    from {box-shadow: 0px 0px 0px 0px #fdd5cf;}
    to {box-shadow: 0px 0px 0px 30px #fdd5d0;}
}

.profile-circle {
    height: 100px;

    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
     
    border-radius: 100px;
    background-size: contain;
}

.circle-animate {
  -webkit-animation: bounceInf 1.25s infinite ease-out; /* Chrome, Safari, Opera */
    animation: bounceInf 1.25s infinite ease-out;
}

.no-text {
  display: none;
}
.nope {
  opacity:0;
  color:#fe836d;
  font-family: 'proxima-soft-bold', sans-serif;
  text-transform: uppercase;
  padding:5px;
  font-size: 1.5em;
  position: absolute;
  border: 3px solid #FE836D;
  padding: 0px 5px;
  letter-spacing: 3px;
  font-size: 2em;
  right: 20px;
  top: 20px;
  -ms-transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  display: block;
  transform: rotate(9deg);
  border-radius: 5px;
}

.like {
  opacity:0;
  color:#63de9a;
   display: block;
  font-family: 'proxima-soft-bold', sans-serif;
  text-transform: uppercase;
  padding:5px;
  font-size: 1.5em;
  position: absolute;
  border: 3px solid #63de9a;
  padding: 0px 5px;
  letter-spacing: 3px;
  font-size: 2em;
  left: 20px;
  top: 20px;
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
  border-radius: 5px;
}

.swipe-container {
    position: relative;
    bottom: -340px;
    margin-left: auto;
    margin-right: auto;
    width: 281px;
}
.swipe-left-img {
  margin:-4px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}


.swipe-left-img:active {
  height: 90px;
  background-color: white;
  border-radius: 50px;
  border: 20px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.swipe-right-img {
  margin:-4px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.swipe-right-img:active {
  height: 90px;
  background-color: white;
  border-radius: 50px;
  border: 20px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.swipe-back-img {
  margin:-4px;
  height: 60px;
  vertical-align: top;
  background-color: white;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}
.swipe-back-img:active {
  height: 60px;
  background-color: white;
  border-radius: 50px;
  border: 15px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
.swipe-location-img {
  margin:-4px;
  height: 60px;
  vertical-align: top;
  background-color: white;
  border-radius: 50px;
  border: 10px #e8e8e8 solid;
}

.swipe-location-img:active {
  height: 60px;
  background-color: white;
  border-radius: 50px;
  border: 15px #e8e8e8 solid;
  transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.show-fb {
  display: block;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 736px) {
  .tinder-container {
    width: auto;
    margin: 60px 120px;
  }
  .intro-screen-title {
    font-size:3em;
  }
  .intro-bullets {
    font-size:6em;
  }
  .intro-terms {
    font-size:2em;
  }
  .facebook-btn {
    margin: 30px 0px;
    width: 100%;
    font-size: 3em;
    border-radius: 10px;
  }
  #intro-right {
    top: 700px;
    font-size:10em;
  }
  #intro-left {
    left: -85px;
    top: 700px;
    font-size:10em;
  }
}

.swipe-left {
  transform: translate(-300px, 0px) rotate(-10deg);
}

.swipe-right {
  transform: translate(300px, 0px) rotate(10deg);
}

.match-img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}

.match-bg {
  display: none;
  height: 530px;
  width: 350px;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  font-family: "proxima-soft-normal", sans-serif;

  z-index: 9999;
  margin-left: -20px;
  margin-top: -91px;
  border-radius: 10px;
}
.match-text {
  color:white;
  letter-spacing: 0px;
  font-size:1.2em;
  font-family: "proxima-soft-normal", sans-serif;
  text-align: center; 
}

.match-user {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: contain;
  background-color: white;
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
}

.match-match {
  height: 100px;
  margin: 5px;
  width: 100px;
  background-size: contain;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  display: inline-block;
}

.match-row {
  width:224px;
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;
}

.match-send {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin-top: 40px;
}

.match-play {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin-top: 20px;
}

.match-share {
  color: white;
  padding: 10px;
  border: 0px solid white;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  margin-top: 20px;  
}

.show-match {
  display:block;
}
.map-nav {
  border-radius:10px 10px 0px 0px;
  background-color: white;
}
.map-close {
  height:25px;
  margin:15px;
}
.map-search {
  border: 0px;
    background-color: F6F6F6;
    border-radius: 5px;
    padding: 5px;
    width: 237px;
    background-image: url('../img/map-search.svg');
    background-position: 12px 8px;
    background-repeat: no-repeat;
    background-size: 13px 15px;
    padding-left: 36px;
    color: #606060;
}
.map-close-grey {
    width: 10px;
    margin-left: -26px;
    margin-top:-2px;
}
.map-search:focus {
  outline:none;
}
.angular-google-map-container { 
  height: 473px; 
  border-radius: 0px 0px 10px 10px;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.messages-middle {
    font-family: 'chalet', sans-serif;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    color: #ff6748;
    position: relative;
    left: 32%;
    letter-spacing: -1.5px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.messages-search {
  background-color: #f0f0f0;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  padding: 6px;
  color:#8e8e93;
}

.messages-search-center {
  background-color: #f0f0f0;
  border: 0px;
  font-family: 'proxima-soft-normal', sans-serif;
  border-radius: 5px;
  width: 100%;
  padding: 4px;
  padding-left:33%;
  color:#8e8e93;
}

.messages-search-center:focus {
  width: 80%;
  padding-left:10px;
  outline:none;
}

.messages-search-center::-webkit-input-placeholder {
  font-family:'proxima-soft-normal', 'Linearicons-Free';
  font-size:.9em;
  padding-top:2px;
  vertical-align: sub;
}


.messages-search-center:-moz-placeholder {
  font-family:'proxima-soft-normal', 'Linearicons-Free';
  font-size:.9em;
  padding-top:2px;
  vertical-align: sub;
}

.messages-search-center::-moz-placeholder {
  font-family:'proxima-soft-normal', 'Linearicons-Free';
  font-size:.9em;
  padding-top:2px;
  vertical-align: sub;
}

.messages-search-center:-ms-input-placeholder {
  font-family:'proxima-soft-normal', 'Linearicons-Free';
  font-size:.9em;
  padding-top:2px;
  vertical-align: sub;
}

.messages-profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.messages-ul {
  list-style: none;
  margin:0px 0px;
  
  padding: 0px 0px;
}

.messages-overflow {
  height: 472px;
  overflow: scroll;  
  position: relative;
  right: 0px;
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
}

.match-image{
  max-width: 100%;
}

.detail-subNavBar {
  height: 40px;
  border-bottom: 3px solid rgb(239, 236, 236);
}

.arrow-back, .detail-topName{
  display: inline;
  font-style: normal;
  color: grey;
  font-size: 16pt;
}

.detail-imageContainer img{
  max-width: 100%;  
}

.detail-lowerName {
  display: inline;
  font-weight: bold;
}

.detail-age {
  display: inline;
}

.detail-distance {
  display: inline;
  color: grey;
  font-weight: bold;
}

.detail-lastActive {
  color: grey;
  display: inline;
}

.detail-swipeRight, .detail-swipeLeft {
  height: 40px;
  cursor: pointer;
}

.messages-ul>li {
  margin-top: -15px;
}
.messages-ul>li:hover {
  cursor: pointer;
}

.messages-search-center>span {
    font-size: .9em;
    padding-right: 3px;
}

.messages-info {
  display: inline-block;
  height: 75px;
  position: relative;
  top: -14px;
  right: -20px;
}

.messages-profile-name {
  font-size: 1.25em;
  color: #424242;
  font-family: "proxima-soft-medium", sans-serif;
}

.messages-line {
  margin: 0px;
  width: 77%;
  float: right;
  margin-right: -11px;
  margin-top: -20px;
}


.messages-profile-date {
  font-size: 1.25em;
  color: #ababab;
  font-family: "proxima-soft-regular", sans-serif;
}


.messages-search-cancel {
  padding: 13px;
  color: #FC6952;
  letter-spacing: 0.5px;
  position: relative;
  float: right;
  top: -37px;
  right: -9px;
  z-index: -1;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.75);
  height: 425px;
  position: absolute;
  width: 348px;
  margin-left: -10px;
  top: 48px;
  z-index: 3;
  -webkit-animation-duration: 0.25s !important;
  animation-duration: 0.25s !important;
}

.scroll-locked {
  overflow: hidden;
}
.message-middle-img {
  height: 35px;
  width: 35px;
  display:inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.message-middle-name {
  display: inline-block;
  font-family: 'proxima-soft-medium', sans-serif;
  position: relative;
  top: -11px;
  padding-left: 6px;
  font-size: 1.15em;
}
.message-middle {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: -39px;
}
.white-fade {
  height: 75px;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 7%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(7%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 7%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 7%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 7%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 7%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  position: absolute;
  margin-left: -10px;
  border:5px;
  border-radius: 5px;
  z-index: 999;
  top:506px;
}

.messages-bottom-bar {
  background-color: #f9f9f9;
  border-top:1px solid #b2b2b2;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

.messages-bottom-bar>input {
  width: 80%;
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  color: blue;
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}

.messages-bottom-bar>input:focus {
  outline:none;
}

.messages-bottom-bar>input::-webkit-input-placeholder {
  color:
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.messages-bottom-send {
    display: inline;
    font-size: 1.1em;
    color: #999999;
    font-family: 'proxima-soft-bold', sans-serif;
}

.messages-bottom-send:hover {
  color:#298CFA;
  cursor: pointer;
}

.messages-bottom-send.highlight {
  color:#298CFA;
}

.messages-bottom-send.highlight:hover {
  cursor: pointer;
}

.to-message {
    background-color: #298CFA;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: auto;
    max-width: 60%;
    float: right;
    display: inline-block;
}

.from-message {
  background-color: #e8e7ec;
  color: rgb(51, 51, 51);
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: auto;
  max-width: 60%;
  display: inline-block;
}

.match-messages-ul {
  padding: 0px 0px;
  padding-top:5px;
  padding-bottom:5px;
  list-style: none;
  overflow: scroll;
  height: 447px;
  height: 419px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;

}

.messages-date {
  color:#414141;
  font-size: .8em;
  text-align:center;
}

.messages-wrapper {
  width:100%;
  display: inline-block;
}


.messages-new-container {
  text-align: center;
  font-family: "proxima-soft-normal", sans-serif;
  color:#414141;
padding: 66px 25px;
    height: 418px;
  font-size: 1em;
}

.messages-new-title {
  font-size: 1.5em;
}

.messages-new-img {
  height: 125px;
  border-radius: 50%;
  margin: 10px;
}

.messages-new-sub {
  font-size:1.25em;
}

#loading-bar .bar {
  background-color: #FF7359 !important;
}